<div class="page">
  <div class="interface">
    <form action="/user/create" method="post">
      <div class="formSection">
        <label for="Name">Nome</label>
        <input placeholder="insira seu nome" class="formItem" name="Name" type="text">
      </div>
      <div class="formSection">
        <label for="Ocupation">Função</label>
        <input placeholder="insira a função" class="formItem" name="Ocupation" type="text">
      </div>
      <div class="formSection">
        <label for="Salary">salário</label>
        <input placeholder="insira o sálario" class="formItem" name="Salary" type="number">
      </div>
      <div class="formCheck">
        <label for="Newsletter">Receber Notificações</label>
        <input type="checkbox" name="Newsletter" checked>
      </div>
      <input class="formButton" type="submit" value="cadastrar">
    </form>
  </div>
</div>